#add-restaurant {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 400;

    width: 25px;
    height: 25px;
}

#search-area {
    display: flex;

    flex-direction: column;
}

#tag-dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#search-bar-wrapper input {
    width: 100%;
    font-size: 2em;
}