.typeahead-search {
    flex: 1;
    border: none;
    outline: none;
    min-width: 100px;
}

.typeahead-wrapper {
    position: relative;
    width: 100%;
}

.typeahead-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    align-items: center;
}

.typeahead-options {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 1000;
}

.typeahead-option {
    display: flex;
    width: 100%;
    gap: 4px;
}